//variables overrides go here. 

$assetsUrl:'#{$siteUrl}/SiteAssets/Sysdoc/assets';

// Brand Colors
$brand-primary:#00488f;
$brand-color-1:#e60000;
$brand-color-2:#ebebeb;
$brand-color-3:#333333; 
$brand-color-4:white; 
$brand-color-5:#d9d9d9; 
 
$brand-colors-list:$brand-primary $brand-color-1 $brand-color-2 $brand-color-3 $brand-color-4 $brand-color-5;

$brand-color-list-a:#027C92 #3396A8 #66B0BE #80BDC8 #99CBD3 #B2D8DE;
$brand-color-list-b:#EB9700 #EFAC32 #F3C066 #F5CB80 #F7D599 #F9E0B2;
$brand-color-list-c:#5E2750 #7E5273 #9E7D96 #AE93A7 #BFA9B9 #CFBECA;
$brand-color-list-d:#64050A #83373B #A2696C #B18284 #C19B9D #D0B4B5;

$brand-color-default:gray !default;
$brand-color-success:green !default; 
$brand-color-primary:cyan !default;
$brand-color-danger:lighten(red,20%) !default;
$brand-color-warning:orange !default;


// Brand Border Radius

$brand-border-radius:0px !default; 
$brand-button-border-radius: $brand-border-radius !default;
$brand-input-border-radius: $brand-border-radius !default; 

// Brand Screen Sizes

$screen-sm-min:768px;
$screen-md-min:992px; 
$screen-lg-min:1192px; 

// Brand Typography
$brand-font-1:'Verdana', Arial, Tahoma, sans-serif; 
$brand-font-2:'Verdana', Arial, Tahoma, sans-serif; 
$brand-base-font-size:16px !default; 
$brand-base-letter-spacing:0px !default; 
$brand-base-heading-letter-spacing:0px !default; 

//Typography
$h1-font-family:sans-serif !default;
$h1-fg-color:#000 !default;
$h1-font-size:initial !default;
$h1-letter-spacing:$brand-base-heading-letter-spacing !default;

$h2-font-family:$h1-font-family !default;
$h2-fg-color:$h1-fg-color !default;
$h2-font-size:initial !default;
$h2-letter-spacing:$brand-base-heading-letter-spacing !default; 

$h3-font-family:$h1-font-family !default;
$h3-fg-color:$h1-fg-color !default;
$h3-font-size:initial !default;
$h3-letter-spacing:$brand-base-heading-letter-spacing !default; 

$h4-font-family:$h1-font-family !default;
$h4-fg-color:$h1-fg-color !default;
$h4-font-size:initial !default;
$h4-letter-spacing:$brand-base-heading-letter-spacing !default; 

$h5-font-family:$h1-font-family !default;
$h5-fg-color:$h1-fg-color !default;
$h5-font-size:initial !default;
$h5-letter-spacing:$brand-base-heading-letter-spacing !default; 

$h6-font-family:$h1-font-family !default;
$h6-fg-color:$h1-fg-color !default;
$h6-font-size:initial !default;
$h6-letter-spacing:$brand-base-heading-letter-spacing !default; 

$p-font-size:$brand-base-font-size !default; 
$p-fg-color:#000 !default; 
$p-letter-spacing:$brand-base-letter-spacing !default; 
$p-font-family:initial !default; 