#s4-titlerow {
    min-height: 400px;
    @extend %box;
    display: block;
    width: 100%;
    //background-repeat:no-repeat; 
    //background-image:url(GetAsset('page-header.png')); 
    // background: cornflowerblue;
}
 
#sideNavBox { 
    display: none;
} 

#contentBox {
    margin-left: 0px;
    margin-right:0px;
    min-width: auto;
}

#searchInputBox {
    display:none;
    position: relative;
    background: white; 
    z-index: 10;
}

.greeting{
    & > span[id]{
        display:none;
    }
}
#numberOfGuestsID {    
    max-width: 260px;
}
#currencyID {
   @include MediumDevice() {
        margin-top:30px;
   }
}