$brand-color-default:gray !default;
$brand-color-success:green !default; 
$brand-color-primary:cyan !default;
$brand-color-danger:lighten(red,20%) !default;
$brand-color-warning:orange !default;

$h1-font-family:sans-serif !default;
$h1-fg-color:#000 !default;
$h1-font-size:initial !default;
$h1-letter-spacing:initial !default;

$h2-font-family:$h1-font-family !default;
$h2-fg-color:$h1-fg-color !default;
$h2-font-size:initial !default;
$h2-letter-spacing:initial !default; 

$h3-font-family:$h1-font-family !default;
$h3-fg-color:$h1-fg-color !default;
$h3-font-size:initial !default;
$h3-letter-spacing:initial !default; 

$h4-font-family:$h1-font-family !default;
$h4-fg-color:$h1-fg-color !default;
$h4-font-size:initial !default;
$h4-letter-spacing:initial !default; 

$h5-font-family:$h1-font-family !default;
$h5-fg-color:$h1-fg-color !default;
$h5-font-size:initial !default;
$h5-letter-spacing:initial !default; 

$h6-font-family:$h1-font-family !default;
$h6-fg-color:$h1-fg-color !default;
$h6-font-size:initial !default;
$h6-letter-spacing:initial !default; 

$p-font-size:initial !default; 
$p-fg-color:#000 !default; 
$p-letter-spacing:0px !default; 
$p-font-family:initial !default; 

h1{
    font-size:$h1-font-szie;
    letter-spacing:$h1-letter-spacing; 
    color:$h1-fg-color;
    font-family:$h1-font-family;
}

h2 {
    font-size:$h2-font-szie;
    letter-spacing:$h2-letter-spacing; 
    color:$h2-fg-color;
    font-family:$h2-font-family;
}

h3 {
    font-size:$h3-font-szie;
    letter-spacing:$h3-letter-spacing; 
    color:$h3-fg-color;
    font-family:$h3-font-family;
}

h4 {
    font-size:$h4-font-szie;
    letter-spacing:$h4-letter-spacing; 
    color:$h4-fg-color;
    font-family:$h4-font-family;
}

h5 {
    font-size:$h5-font-szie;
    letter-spacing:$h5-letter-spacing; 
    color:$h5-fg-color;
    font-family:$h5-font-family;
}

h6 {
    font-size:$h6-font-szie;
    letter-spacing:$h6-letter-spacing; 
    color:$h6-fg-color;
    font-family:$h6-font-family;
}

p{
    font-size:$p-font-szie;
    letter-spacing:$p-letter-spacing; 
    color:$p-fg-color;
    font-family:$p-font-family;
}

.text-brand-danger{
    color:$brand-color-danger;
}

.text-brand-success{
    color:$brand-color-success;
}

.text-brand-warning{
    color:$brand-color-warning;
}

.text-brand-primary{
    color:$brand-color-primary;
}

.text-brand-default{
    color:$brand-color-default;
}

.text-uppercase{
    text-transform: uppercase;
}

.text-lowercase{
    text-transform: lowercase;
}

.text-capitalize{
    text-transform:capitalize;
}

.text-underline{
    text-decoration:underline;
}

.text-linethrough{
    text-decoration:line-through;
}

.text-center{
    text-align:center
}

.text-right{
    text-align:right
}

.text-left{
    text-align:left
}