.expanding-cell{
    .expanding-cell-toggle{
        display:none;
        color:$brand-color-1;
        cursor:pointer;
        font-size:14px;
    }

    &[data-expandable="true"]{
        .expanding-cell-toggle{
            display:block;
        }
    }

}