$footer-text-color: white !default;
$footer-link-color: #666666 !default;
$footer-link-group-title-fontsize: 15px !default; 
$footer-link-fontsize:14px !default;


.footer-line-sep,.form-line-sep{
    width:100%;
    border-bottom:1px solid #ffffff; 
    margin-bottom:0px;
    margin-top:10px; 
} 

.website-footer{
    padding-top:60px;
    .footer-link-group{
        margin-bottom:16px;

        &[data-key="dummy-group"]{
            display:none; 
        }
    }

    .website-footer-caption{
        text-transform: uppercase;
        font-size: 18px;

        a{
            text-decoration: none;
        
            &:hover {
                color:#ffffff;
            }
        }

        .clientname {
            color: #ffffff;
            font-size: 18px;
            text-shadow: 1px 1px 1px black
        }
        .first-word {
            color:#ffffff;
            text-shadow: 1px 1px 1px black
        }
    }

    .link-group-title{
        font-size:$footer-link-group-title-fontsize; 
        color:$footer-text-color;
        text-transform: uppercase; 
        letter-spacing:0.6px;
        text-align:left;
        margin-bottom:16px;
    }

    .footer-link{
        font-size:$footer-link-fontsize;
        text-transform: uppercase;
        color:white !important;
        letter-spacing:-0.2px;
        text-align:left;
        display:block; 

        &:visited,&:hover,&:focus{
            color:$footer-text-color !important; 
            text-decoration: none;
        }
    } 

    
    .footer-sublinks-wrapper{
        padding-top:10px;
        padding-bottom:10px;
    }

    .footer-sublink{
        font-size:$footer-link-fontsize;
        color:#a4aaa8;
        letter-spacing:0.3px;
        text-align:left;

        & + .footer-sublink{
            &:before{
                content:' | ';
                display:inline;

            }
        }
    }

    @include MediumDevice(){
        .footer-link-group[data-key="dummy-group"]{
            display:block;
        }

        .link-group-title{
            margin-bottom:13px;
        }

        .footer-link{
            margin-bottom:5px;
        }
    }

    @include LargeDevice(){
        // margin-left:-80px;
        // margin-right:-80px;
    }
}