$sysdoc-listview-item-heading-fg:#333333 !default;
$sysdoc-listview-item-body-fg:#333333 !default;
$sysdoc-listview-item-heading-font-size:18px !default;
$sysdoc-listview-item-heading-font-family:sans-serif !default; 
$sysdoc-listivew-item-body-font-size:16px !default;
$sysdoc-listview-item-body-font-family:sans-serif !default; 
.sysdoc-listview{
    @extend %box;

    .listview-item{
        display:block;
        text-decoration:none;
        color:$sysdoc-listview-item-body-fg;
        margin-bottom:20px;

        &:visited,&:hover,&:active{
            text-decoration: none;
            color:$sysdoc-listview-item-body-fg;
        }
    }
    .listview-tags{
        margin-bottom:2px;
    }
 
    .listview-tag{
        display: inline-block;
        padding: 1px 5px 0px;
        background: $brand-color-1;
        line-height: 2em;
        color: white;
        font-size: 10px;
        margin-left: 0px;
        margin-right:2px;
        letter-spacing: 1px;
    }

    .listview-item-heading{
        @extend %box;
        cursor:pointer;
        font-weight: bold;
        font-size: $sysdoc-listview-item-heading-font-size;
        color:$sysdoc-listview-item-heading-fg;
    }

    .listview-item-body{
        cursor:pointer;
        font-size:$sysdoc-listivew-item-body-font-size; 
        color:$sysdoc-listview-item-body-fg;
        // display:none;
    }



    
}