$sysdoc-menu-label-color:#4a4a4a !default;
$sysdoc-menu-label-padding: 5px 10px !default;
$sysdoc-menu-label-fontsize: 16px !default;
$sysdoc-menu-label-bordertop-color-before:#333 !default; 
$sysdoc-menu-label-bordertop-color-after:#ebebeb !default; 
.sysdoc-menu{
    position:relative;
    outline:none;
    font-family:$brand-font-1;
    .sysdoc-menu-label{
        position:relative;
        background:#ebebeb;
        padding:$sysdoc-menu-label-padding;
        cursor:pointer;
        border:1px solid transparent; 
        display:block;
        font-family:$brand-font-1;
        font-size:$sysdoc-menu-label-fontsize;
        color:$sysdoc-menu-label-color;
        letter-spacing:0.17px;
        text-align:left;

        &,&:hover,&:visited,&:active{
            color:$sysdoc-menu-label-color;
            text-decoration: none;
        }

        &:hover{
            border:1px solid #ccc;
        }
        &:before{
            content:' ';
            position:absolute;
            display:block;
            right:10px;
            top:50%;
            border:8px solid transparent; 
            border-top:8px solid $sysdoc-menu-label-bordertop-color-before; 
        }

        &:after{
            content:' ';
            position:absolute;
            display:block; 
            right:13px;
            top:50%;
            border:6px solid transparent;  
            border-top:6px solid $sysdoc-menu-label-bordertop-color-after; 
        }

        &[data-single="true"]{
            text-align:center;
            &:before,&:after{
                display:none;
            }
        }
    }
    .sysdoc-menu-wrapper{
        position:absolute;
        display:none; 
        left:0px;
        top:100%;
        border:1px solid #ddd;
        width:100%;
        max-height:150px;
        overflow:auto;  
        z-index:222;
    }

    .sysdoc-menu-item{
        display:block; 
        cursor:pointer;
        display:block;
        width:100%;
        padding:$sysdoc-menu-label-padding;
        background:#eee;
        border-bottom:1px solid #ddd;
        &,&:visited,&:hover,&:active{
            color:#333; 
            text-decoration:none;
        } 

        &:hover{
            background-color:darken(#eee,10%);
        }
    }

    &[data-visible="true"]{
        .sysdoc-menu-wrapper{
            display:block;
        }
    }
}