$sysdoc-people-picker-item-bg:#eee !default;
$sysdoc-people-picker-circle-bg:#444 !default;
$sysdoc-people-picker-circle-color:white !default;
$sysdoc-people-picker-circle-text-fontsize:0.7em !default;
$sysdoc-people-picker-item-padding: 5px 10px !default;

.sysdoc-people-picker{
    position:relative;
    .items-wrapper{
        margin-bottom:5px;
    }

    .person-item{
        display:inline-block;
        padding:$sysdoc-people-picker-item-padding;
        cursor:pointer;
        background-color:$sysdoc-people-picker-item-bg;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        -o-user-select: none;
        user-select: none;
        &[data-selected="true"]{
            background-color:#ccc; 
        }


        .close-btn{
            cursor:pointer;
            margin-left:20px;
        }

        & + .person-item{
            margin-left:5px; 
        }
    }

    .picker-menu-item{
        padding:$sysdoc-people-picker-item-padding;
        line-height:2em;
    }
    .person-circle{
        display:inline-block;
        height:2em;
        cursor:pointer;
        width:2em;
        line-height:2em;
        text-align:center;
        background-color: $sysdoc-people-picker-circle-bg;
        color:$sysdoc-people-picker-circle-color;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%; 
        -o-border-radius: 50%;
        border-radius: 50%;
        margin-right:10px;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        -o-user-select: none;
        user-select: none;
    }

    .circle-text{
        font-size:$sysdoc-people-picker-circle-text-fontsize;
    }

    .picker-menu-item{
        display:block;
        padding:5px;
       
    }
}

.people-picker-wrapper{
    position:relative; 
}

.people-picker-loader{
    position:absolute;
    top:50%;
    right:10px;
    height:1em;
    width:1em;
    -ms-transform:translateY(-50%);
    -webkit-transform:translateY(-50%);
    -moz-transform:translateY(-50%); 
    transform:translateY(-50%);  
    display:none;
    &[data-visible="true"]{
        display:block;
    }

}