.simple-table{
    margin:20px 0px;
    border-collapse: collapse;
    border: 1px solid $brand-color-2;
    width:100%;
    tbody tr{
        border-bottom:1px solid $brand-color-5;

        &:nth-child(2n){
            background-color:#eee; 
        }
    }

    td {
        padding:10px 20px 10px 20px;
        border: 1px solid $brand-color-5;
        text-align: center;
        font-size: 13px;

        &.text-left{
            text-align:left;
        }
        
        &:nth-child(1) {
            text-align: left;
        }

    }

    thead{

        tr:nth-child(1){
            background-color:$brand-color-3;
            th:nth-child(1){
                background-color: $brand-color-4;
            }
            th {
                border-right: 1px solid $brand-color-5;
                text-align: center;
                padding: 1em 0px 1em 0px;
            }
        }
        tr:nth-child(2){
            background-color:$brand-color-4;

                th {
                    border: 1px solid $brand-color-5;
                    text-align: center;
                    color: $brand-color-3;
                    padding: 0.5em 0em 0.5em 0em;
                }
        }
        #employee {
            background-color:#333
        }
    }

    th{
       // padding:1.3em 0px 1.3em 20px;
        color:$brand-color-5;
        font-weight: normal;
    }
}