{% from 'Macros.html' import AddContentTypeToPagesLibrary, CustomCommand,Command,SetListDefaultContentType,AddPublishingPage,SetPublishingPageFields %}

. "{{getFilePath('functions.ps1')}}"

$spHost = "{{getAttr(template,'spHost','host')|default(spHost)}}";
{% set serverRelativeUrl = "/sites/" + getAttr(template,'url') %}
$spGlobalSiteServerRelativeUrl = "sites/{{getAttr(template,'url')|default(url)}}";
$siteUrl = ($spHost + $spGlobalSiteServerRelativeUrl);

$title = "Actions"
$message = "What would you like to do?"
$deployAll = New-Object System.Management.Automation.Host.ChoiceDescription "&Deploy All", `
    "Deploy everything SiteCollection, SubSites, etc to $siteUrl"
$setPagesLibraryContentType = New-Object System.Management.Automation.Host.ChoiceDescription "&Set Pages Library Content Type", `
    "Set Pages Library Content Type(s)"
$setSiteCollectionWebProperties = New-Object System.Management.Automation.Host.ChoiceDescription "Set Site Collection Web Properties", `
    "Set Pages Library Content Type(s)"
$no = New-Object System.Management.Automation.Host.ChoiceDescription "&No", `
    "Retains all the files in the folder."

$options = [System.Management.Automation.Host.ChoiceDescription[]]($deployAll, $no)

$result = $host.ui.PromptForChoice($title, $message, $options, 0) 

switch ($result)
    {
        0 {"You selected Yes."}
        1 {"You selected No."}
    }

Write-Log "Running Fields and Content Types initialisation script"
Confirm-Continue -message "Deploy content types and fields to $siteUrl. Press y to continue"

Write-Log "Connecting to $siteUrl"

{% for command in getAttr(template,'preConnectCommands') %}
    
    {{Command(command)}}

{% endfor %}

Connect-PnPOnline -Url $siteUrl

{% for command in getAttr(template,'postConnectCommands') %}
    
    {{Command(command)}}

{% endfor %}

{% if getAttr(template,'setSiteCollectionTermGroupName') and getAttr(template,'siteCollectionGroupName') %}
Set-SiteCollectionTermGroupName "{{getAttr(template,'siteCollectionGroupName')}}"
{% endif %}

Write-Log "Provisioning Fields and Content Types"

Set-PnPTraceLog -On -Level Debug

{% for command in getAttr(template,'preProvisiongCommands') %}
    
{{Command(command)}}

{% endfor %}

Write-Log "Applying SiteCollection Provisioning..."

Apply-PnPProvisioningTemplate -Path "{{getFilePath('sitecollection-'+getAttr(template,'id')+'-'+postfix+'.xml')}}"

{% for command in getAttr(template,'postProvisiongCommands') %}
    
{{Command(command)}}

{% endfor %}

{% for contentType in getAttr(template,'pagesLibrary','pagesLibraryContentTypes') %}
{{AddContentTypeToPagesLibrary(contentType,loop.index == 0)}}
{% endfor %}

{% if hasAttr(template,'defaultPagesContentType','pagesDefaultContentType','pagesLibraryDefaultContentType') %}

{{SetListDefaultContentType('Pages',getAttr(template,'defaultPagesContentType','pagesDefaultContentType','pagesLibraryDefaultContentType'))}}

{% endif %}

{% if hasAttr(template,'pages') %}
{% for page in getAttr(template,'pages') %}
{{AddPublishingPage(getAttr(page,'name','title'),getAttr(page,'layout','pageLayout'),getAttr(page,'title','name'),getAttr(page,'publish'),getAttr(page,'folder'),getAttr(page,'meta'))}}
{{SetPublishingPageFields(getAttr(page,'meta'),serverRelativeUrl,getAttr(page,'name'))}}
{% endfor %}
{% endif %}


Confirm-Continue -message "Do you want to deploy subsites?. Press y to continue"
{% for subsite in getAttr(template,'subsites') %}
Remove-PnPWeb -Url {{getAttr(subsite,'url')}} {% if hasAttr(subsite,'force') and getAttr(subsite,'force') %} -Force {% endif %}

$web = New-PnPWeb -Title "{{getAttr(subsite,'title')}}" -Url {{getAttr(subsite,'url')}} -Description "{{getAttr(subsite,'desc','description')}}" -Locale {{getAttr(subsite,'locale','lang')|default(1033)}} -Template "{{getAttr(subsite,'template')|default("STS#0")}}"
Apply-PnPProvisioningTemplate -Path "{{getFilePath('site-'+getAttr(subsite,'id')+'-'+postfix+'.xml')}}" -Web $web 

{% for contentType in getAttr(subsite,'pagesLibrary') %}

    {{AddContentTypeToPagesLibrary(contentType)}}

{% endfor %}
{% if hasAttr(template,'defaultPagesContentType','pagesDefaultContentType','pagesLibraryDefaultContentType') %}

{{SetListDefaultContentType('Pages',getAttr(template,'defaultPagesContentType','pagesDefaultContentType','pagesLibraryDefaultContentType'))}}

{% endif %}
{% for command in getAttr(subsite,'commands') %}

{{Command(command)}}

{% endfor %}
{% endfor %}


# Write-Log "Disconnecting..."
Disconnect-PnPOnline