{% from 'masterpagemacros.online.njk' import MasterPageScriptLinks,MasterPageSiteActions,MasterPageBodyPlaceholders,MasterPageTreeViewNavigation,MasterPageLeftPlaceholders,MasterPageQuickLaunchNavigation,MasterPageAccessibility,MasterPageRibbonRow,MasterPageSiteIcon, MasterPageBreadcrumb,MasterPageDeltaPlaceHolderGroupActionsArea,MasterPageSearchArea %}
<%@Master language="C#"%>
<%@ Register Tagprefix="SharePoint" Namespace="Microsoft.SharePoint.WebControls" Assembly="Microsoft.SharePoint, Version=16.0.0.0, Culture=neutral, PublicKeyToken=71e9bce111e9429c" %> <%@ Register Tagprefix="Utilities" Namespace="Microsoft.SharePoint.Utilities" Assembly="Microsoft.SharePoint, Version=16.0.0.0, Culture=neutral, PublicKeyToken=71e9bce111e9429c" %> <%@ Import Namespace="Microsoft.SharePoint" %> <%@ Assembly Name="Microsoft.Web.CommandUI, Version=16.0.0.0, Culture=neutral, PublicKeyToken=71e9bce111e9429c" %>
<%@ Import Namespace="Microsoft.SharePoint.ApplicationPages" %>
<%@ Register Tagprefix="WebPartPages" Namespace="Microsoft.SharePoint.WebPartPages" Assembly="Microsoft.SharePoint, Version=16.0.0.0, Culture=neutral, PublicKeyToken=71e9bce111e9429c" %>
<%@ Register TagPrefix="wssuc" TagName="Welcome" src="~/_controltemplates/15/Welcome.ascx" %>
<%@ Register TagPrefix="wssuc" TagName="HelpPanel" src="~/_controltemplates/15/HelpPanel.ascx" %>
<!doctype html>
<SharePoint:SPHtmlTag dir="<%$Resources:wss,multipages_direction_dir_value%>" ID="SPHtmlTag" runat="server">
	<head runat="server">
		<meta name="GENERATOR" content="Generator SharePoint App" />
		<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
		<SharePoint:IECompatibleMetaTag runat="server" />
		<meta http-equiv="Expires" content="0" />
		{% if masterPage.localizationPage %}
		<script type="text/javascript" src='<asp:Literal runat="server" ID="LANG_SCRIPT" Text="<% $SPUrl:~sitecollection/SiteAssets/{{config.deploymentDir}}/assets/locale/~language%>"></asp:Literal>.js'></script>
		{% endif %}
		{% if masterPage.tileUrl %}
		<SharePoint:SPPinnedSiteTile runat="server" TileUrl="{{masterPage.tileUrl}}" TileColor="{{masterPage.tileColor | default('#0072C6')}}"/>
		{% else %}
		<SharePoint:SPPinnedSiteTile runat="server" TileUrl="/_layouts/15/images/SharePointMetroAppTile.png" TileColor="#0072C6"/>
		{% endif %}
		<SharePoint:RobotsMetaTag runat="server" />
		<SharePoint:PageTitle runat="server">
			<asp:ContentPlaceHolder id="PlaceHolderPageTitle" runat="server">
				<SharePoint:ProjectProperty Property="Title" runat="server" />
			</asp:ContentPlaceHolder>
		</SharePoint:PageTitle>
		{% if masterPage.favicon %}
		<SharePoint:SPShortcutIcon runat="server" IconUrl="{{masterPage.favicon}}" />
		{% else %}
		<SharePoint:SPShortcutIcon runat="server" IconUrl="/_layouts/15/images/favicon.ico?rev=44" />
		{% endif %}
		<SharePoint:StartScript runat="server" />
		<SharePoint:CssLink runat="server" Version="15" />
        {{MasterPageScriptLinks(masterPage)}}
        {% for link in masterPage.stylesheets %}
		<link rel="stylesheet" href='<asp:Literal runat="server" ID="style_{{link|replace(r/[\s\.]+/g,'_')}}" Text="<% $SPUrl:~sitecollection/SiteAssets/{{config.deploymentDir}}/css/{{link}}%>"></asp:Literal>' />
        {% endfor %}
        {% for link in masterPage.headScripts %}
		<script type="text/javascript" src='<asp:Literal runat="server" ID="headscript_{{link|replace(r/[\s\.]+/g,'_')}}" Text="<% $SPUrl:~sitecollection/SiteAssets/{{config.deploymentDir}}/js/{{link}}%>"></asp:Literal>'></script>
        {% endfor %}
		<SharePoint:CustomJSUrl runat="server" />
		<SharePoint:SoapDiscoveryLink runat="server" />
		<SharePoint:AjaxDelta id="DeltaPlaceHolderAdditionalPageHead" Container="false" runat="server">
			<asp:ContentPlaceHolder id="PlaceHolderAdditionalPageHead" runat="server" />
			<SharePoint:DelegateControl runat="server" ControlId="AdditionalPageHead" AllowMultipleControls="true" />
			<asp:ContentPlaceHolder id="PlaceHolderBodyAreaClass" Visible="true" runat="server" />
		</SharePoint:AjaxDelta>
		<SharePoint:CssRegistration Name="Themable/corev15.css" runat="server" />
	</head>

	<body>
		<SharePoint:ImageLink runat="server" />
		<SharePoint:SPNoScript runat="server" />
		<SharePoint:SPClientIDGenerator runat="server" ServerControlID="DeltaPlaceHolderMain;DeltaPlaceHolderPageTitleInTitleArea;DeltaPlaceHolderUtilityContent"/>
		<SharePoint:SharePointForm runat="server" onsubmit="if (typeof(_spFormOnSubmitWrapper) != 'undefined') {return _spFormOnSubmitWrapper();} else {return true;}">
			<script type="text/javascript"> var submitHook = function () { return false; }; theForm._spOldSubmit = theForm.submit; theForm.submit = function () { if (!submitHook()) { this._spOldSubmit(); } }; </script>
			<SharePoint:AjaxDelta id="DeltaSPWebPartManager" runat="server">
				<WebPartPages:SPWebPartManager runat="Server" />
			</SharePoint:AjaxDelta>
			<asp:ScriptManager id="ScriptManager" runat="server" EnablePageMethods="false" EnablePartialRendering="true" EnableScriptGlobalization="false" EnableScriptLocalization="true" />
			<SharePoint:AjaxDelta id="DeltaDelegateControls" runat="server">
				<SharePoint:DelegateControl runat="server" ControlId="GlobalNavigation" />
				<SharePoint:DelegateControl ControlId="GlobalSiteLink3" Scope="Farm" runat="server" Visible="false" />
			</SharePoint:AjaxDelta>
			{{MasterPageAccessibility(masterPage)}}
			<SharePoint:AjaxDelta runat="server" id="suiteBarDelta" BlockElement="true" CssClass="ms-dialogHidden ms-fullWidth noindex">
				<div id="suiteMenuData" class="ms-hide">
					<wssuc:Welcome id="IdWelcomeData" runat="server" EnableViewState="false" RenderDataOnly="true" />
					<span class="ms-siteactions-root" id="siteactiontd">
                        {{MasterPageSiteActions(masterPage)}}
					</span>
				</div>
				<SharePoint:ScriptBlock runat="server">
					var g_navBarHelpDefaultKey = "HelpHome";
				</SharePoint:ScriptBlock>
				<SharePoint:DelegateControl id="ID_SuiteBarDelegate" ControlId="SuiteBarDelegate" runat="server" />
			</SharePoint:AjaxDelta>
			<div id="ms-hcTest"></div>
            {{MasterPageRibbonRow(masterPage)}}
            
			<div id="s4-workspace" class="ms-core-overlay">
				<div id="s4-bodyContainer">
					<div id="s4-titlerow" class="ms-dialogHidden s4-titlerowhidetitle">
						<div id="titleAreaBox" class="ms-noList ms-table ms-core-tableNoSpace">
							<div id="titleAreaRow" class="ms-tableRow">
                                {{MasterPageSiteIcon(masterPage)}}
                                {{MasterPageBreadcrumb(masterPage)}}
                                {{MasterPageDeltaPlaceHolderGroupActionsArea(masterPage)}}
                                {{MasterPageSearchArea(masterPage)}}
							</div>
						</div>
					</div>
					<div id="contentRow">
						<div id="sideNavBox" role="Navigation" class="ms-dialogHidden ms-forceWrap ms-noList">
							<SharePoint:AjaxDelta id="DeltaPlaceHolderLeftNavBar" 
                                BlockElement="true" CssClass="ms-core-navigation" 
                                role="navigation" runat="server">
								<asp:ContentPlaceHolder id="PlaceHolderLeftNavBar" runat="server">
									<SharePoint:DelegateControl runat="server" ControlId="QuickLaunchTop" />
									<a id="startNavigation" name="startNavigation" tabIndex="-1"></a>
                                    {{MasterPageLeftPlaceholders(masterPage)}}
									<div class="ms-core-sideNavBox-removeLeftMargin">
                                        {{MasterPageQuickLaunchNavigation(masterPage)}}
                                        {{MasterPageTreeViewNavigation(masterPage)}}
										<asp:ContentPlaceHolder id="PlaceHolderQuickLaunchBottom" runat="server">
											<div class="ms-core-listMenu-verticalBox">
												<SharePoint:ClusteredSPLinkButton runat="server" id="idNavLinkViewAll" PermissionsString="ViewFormPages" NavigateUrl="~site/_layouts/15/viewlsts.aspx"
												 Text="<%$Resources:wss,AllSiteContentMore%>" ToolTip="<%$Resources:wss,AllSiteContentMore%>" accesskey="<%$Resources:wss,quiklnch_allcontent_AK%>"
												 CssClass="ms-core-listMenu-item ms-core-listMenu-heading" />
											</div>
											<SharePoint:FlightedContent runat="server" id="GroupsAndSitesLinking" ExpFeature="GroupsAndSitesLinking" RenderIfInFlight="true">
												<SharePoint:DelegateControl id="connectedGroupsNav" runat="server" ControlId="ConnectedGroupsNav" AllowMultipleControls="true"/>
											</SharePoint:FlightedContent>
										</asp:ContentPlaceHolder>
									</div>
									<SharePoint:DelegateControl runat="server" ControlId="QuickLaunchBottom" />
								</asp:ContentPlaceHolder>
							</SharePoint:AjaxDelta>
						</div>
						<div id="contentBox" aria-live="polite" aria-relevant="all" role="main">
							<a id="mainContent" name="mainContent" tabindex="-1"></a>
							<div id="notificationArea" class="ms-notif-box"></div>
							<SharePoint:AjaxDelta id="DeltaPageStatusBar" BlockElement="true" runat="server">
								<div id="pageStatusBar"></div>
							</SharePoint:AjaxDelta>
							<SharePoint:AjaxDelta id="DeltaPlaceHolderMain" BlockElement="true" IsMainContent="true" runat="server">
								<asp:ContentPlaceHolder id="PlaceHolderMain" runat="server" />
							</SharePoint:AjaxDelta>
						</div>
						<SharePoint:AjaxDelta id="DeltaFormDigest" BlockElement="true" runat="server">
							<asp:ContentPlaceHolder id="PlaceHolderFormDigest" runat="server">
								<SharePoint:FormDigest runat="server" />
							</asp:ContentPlaceHolder>
						</SharePoint:AjaxDelta>
                        {{MasterPageBodyPlaceholders(masterPage)}}
					</div>
				</div>
				<SharePoint:AjaxDelta id="DeltaHelpPanel" runat="server">
					<div id="helppanelCntdiv" class="ms-Help-PanelContainer">
						<wssuc:HelpPanel runat="server" />
					</div>
				</SharePoint:AjaxDelta>
				<SharePoint:AjaxDelta id="DeltaPageInstrumentation" runat="server">
					<SharePoint:FlightedContent runat="server" ExpFeature="UserActivityLogging" RenderIfInFlight="true">
						<SharePoint:PageInstrumentationControl runat="server" Id="PageInstrumentationControl" />
					</SharePoint:FlightedContent>
				</SharePoint:AjaxDelta>
			</div>
		</SharePoint:SharePointForm>
		<SharePoint:AjaxDelta id="DeltaPlaceHolderUtilityContent" runat="server">
			<asp:ContentPlaceHolder id="PlaceHolderUtilityContent" runat="server" />
		</SharePoint:AjaxDelta>
		<SharePoint:ScriptBlock runat="server">
			var g_Workspace = "s4-workspace";
		</SharePoint:ScriptBlock>
		{% for link in masterPage.headScripts %}
		<script type="text/javascript" src='<asp:Literal runat="server" ID="bodyscript_{{link|replace(r/[\s\.]+/g,'_')}}" Text="<% $SPUrl:~sitecollection/SiteAssets/{{config.deploymentDir}}/js/{{link}}%>"></asp:Literal>'></script>
        {% endfor %}
	</body>
</SharePoint:SPHtmlTag>