<!DOCTYPE html>
<html lang="en">
    <head>
        <title><%= name %> Prototype</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <link href="../css/main.min.css" rel="stylesheet">
        <link href="../css/<%= baseName %>.css" rel="stylesheet">
        <script type="text/javascript" src="../js/vendor.js"></script>
    </head>
    <body>
        <div id="Prototype"></div>
        <script type="text/javascript" src="../js/<%= baseName %>.js"></script>
    </body>
</html>