<!DOCTYPE html>
<html lang="en">
    <head>
        <title><%= name %> Prototype</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <link href="../css/main.min.css" rel="stylesheet">
        <link href="../css/<%= baseName %>.css" rel="stylesheet">
        <script type="text/javascript" src="../js/vendor.js"></script>
    </head>
    <body>
        <div class="jumbotron jumbotron-fluid">
            <div class="container">
                <h1 class="display-3">{{definition.name | replace(r/([a-z])([A-Z])/g,'$1 $2')}}</h1>
                <p class="lead">{{definition.description}}</p>
            </div>
        </div>
        <div class="container">
            <div id="Prototype"></div>
        </div>
        <script type="text/javascript" src="../js/<%= baseName %>.js"></script>
    </body>
</html>